mixin slider(prefix, pics)
  - var slider = 'div id="' + prefix + 'Slider' +'"'
  - var sliderContent = 'ul id="' + prefix + 'SliderContent' + '"'
  - var sliderImage = 'li class="' + prefix + 'SliderImage' + '"'
  #{slider}
    #{sliderContent}
      each pic in pics
        #{sliderImage}
          a(href='#')
            img(src=pic.src)
            span.bottom
              strong= pic.title
              p= pic.detail
